__pycache__/
vendor/
media/
front/node_modules/
.cache/
.vscode/
.venv/
.config/
.local/
.npm/
.idea/
.coverage
conf/settings.ini

*~
*.sqlite3
*.db
*.pyc

.viminfo
.v8flags.3.14.5.9.undefined.json
.bash_history
.DS_Store
htmlcov/
_ignore/
.pytest_cache/